.row-header {
    padding: 0px
}

.row-content {
    padding: 25px 0px;
    border-bottom: 1px ridge;
}

.row-content-last {
    padding: 25px 0px;
}

.row-staff-infor {
    padding: 10px 0px 5px 0px
}

footer {
    background-color: #fcdbad;
    margin-top: 30px;
    padding: 10px 0px 10px 0px;
}

div a {
    color: black;
    font-size: 80%;
}

.jumbotron {
    background-image: url(../img/jumbotron.png);
    padding:70px 0px;
    margin:0px 0px;
    color:rgb(42, 36, 36);
}

.jumbotron-text {
    background-color: #000000BE;
    border-radius: 14px;
    color:white;    
    padding: 34px 20px
}

.badge-danger {
    background-color: #DA3030
}

.content-subtitle {
    color: #DA3030;
}

.content-content {
    margin-top:5px;
}

address {
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.copy-right {
    margin-top: 30px;
}

#first-h2 {
    margin-top: 30px;
}

.footer-infor {

    border-bottom: 1px black ridge ;
    padding-bottom: 30px;
    padding-top: 20px;

}

address span {
    margin-right: 5px;
}

.logo {
    width: 150px;
    height: 150px;
}

.mar-top-20px {
    margin-top: 20px
}

.mar-top-10px {
    margin-top: 10px
}

.mar-bot-0px {
    margin-bottom: 0px
}

.pb-0px {
    padding-bottom: 0px;
}