.btn-reserve {
    border-radius: 7px;
    background-color: #1b3de4;
    color: white;
    height: 40px;
    font-size: 13pt;
    padding: 5px 12px 3px 14px;
    border-color: white;
    border-width: 2px;
    box-shadow: 0px 3px 3px #00000041;
}

#ic_reserve {
    height: 20px;
    width: 20px;
    margin-bottom: 4px;
}

.btn-container {
    height: 100px;
}

#reserve-panel {
    border: 1px solid #0000007B;    
    border-radius: 15px;
    padding: 0px;
}

.card-header {
    background-color: #02b35d;
    border-radius: 14px 14px 0px 0px;
    height: 50px;
    padding: 2px 10px 3px 10px
}

.reserve-btn-reserve {
    background-color: #e34f4f;
    color: white;
    border: 2px solid white;
    box-shadow: 0px 3px 3px #00000041;
    border-radius: 7px;
}
