

body {
    padding: 54px 0px 0px 0px;
    z-index: 0px;
}
.navbar-dark {
    background-color: #CF2A2A;
}

.media-body {
    margin-top: 5px;
}

.breadcrumb {
    margin-top: 4px;
    padding-left: 18px;
    padding-top: 23px;
    background-color: white;
    margin-bottom: 0px;
}

.navbar-nav .fa {
    margin-right: 3px;
}


